<div class="dashboard-entry">
    @if (data().pid.length > 0) {
        <div class="header">
            <div class="item">
                <label>
                    Export
                    <input class="export-selection" type="checkbox" title="Export" (click)="onExportMarkChanged($event)" />
                </label>
            </div>
            <div class="item">
                <span class="name">PID</span>
                <span class="value">{{ data().pid }}</span>
            </div>
            @if (data().einsendenummern && data().einsendenummern.length > 0) {
                <div class="item">
                    <span class="name">Einsendenummer</span>
                    <span class="value">{{ data().einsendenummern.join(', ') }}</span>
                </div>
            } @else {
                <div class="item">
                    <span class="name">Einsendenummer</span>
                    <span class="value">?</span>
                </div>
            }
            @if (data().icd10) {
                <div class="item">
                    <span class="name">ICD-10</span>
                    <span class="value">{{ data().icd10 }}</span>
                </div>
            } @else {
                <div class="item">
                    <span class="name">ICD-10</span>
                    <span class="value">???.?</span>
                </div>
            }
            @if (data().icdO3T) {
                <div class="item">
                    <span class="name">ICD-O-3 T</span>
                    <span class="value">{{ data().icdO3T }}</span>
                </div>
            } @else {
                <div class="item">
                    <span class="name">ICD-O-3 T</span>
                    <span class="value">???.?</span>
                </div>
            }
            @if (data().zaehlzeitpunkt) {
                <div class="item">
                    <span class="name">Zählzeitpunkt</span>
                    <span class="value">{{ data().zaehlzeitpunkt | date:'dd.MM.yyyy' }}</span>
                </div>
            } @else {
                <div class="item">
                    <span class="name">Zählzeitpunkt</span>
                    <span class="value">?</span>
                </div>
            }
            <div class="item patient-link">
                <a class="button" href="/onkostar/index.html?patientId={{data().patientGuid}}&procedureId={{ data().procedureGuid }}" target="_blank">Zum Patienten</a>
            </div>
            @if (data().aufgaben.length > 0) {
                <div class="item check-tasks">
                    <a class="button aufgabe-button" (click)="showAufgaben = !showAufgaben">🧪 {{ data().aufgaben.length }} Aufgabe(n)</a>
                </div>
            }
            @if (data().warningDetails.invalidPrimaerfall) {
                <div class="item check-nopf">
                    <span>💥 <b>Kein Primärfall?</b></span>
                </div>
            }
            @if (data().warnings || loadingError) {
                <div class="item check-required">
                    <span>💥 <b>Doku prüfen!</b></span>
                </div>
            }
            @if (duplicate) {
                <div class="item check-required">
                    <span>💥 <b>Duplikat?</b></span>
                </div>
            }
        </div>
        @if (loadingError) {
            <div class="details">
                <div><b>Fehler</b><div>bei der Auswertung der Daten!</div></div>
            </div>
        } @else {
            <div class="details">
                <div [class.success]="data().anmeldedatum">
                    <div class="name">Anmeldedatum MTB</div>
                    @if (data().anmeldedatum) {
                        <div>{{ data().anmeldedatum | date:'dd.MM.yyyy' }}</div>
                    } @else {
                        <div>Nicht dokumentiert</div>
                    }

                    @if (data().internextern === 'E') {
                        <div>Extern zugewiesen</div>
                    } @else if (data().internextern === 'I') {
                        <div>Intern zugewiesen</div>
                    }
                </div>
                <div [class.success]="data().consent.datum && data().consent.zustimmung" [class.warning]="data().consent.datum && !data().consent.zustimmung">
                    <div class="name">MolPath-Consent</div>
                    @if (data().consent.datum && data().consent.zustimmung) {
                        <div>{{ data().consent.datum | date:'dd.MM.yyyy' }}</div>
                    }
                    @else if (data().consent.datum && !data().consent.zustimmung) {
                        <div>{{ data().consent.datum | date:'dd.MM.yyyy' }}</div>
                        <div>Nicht zugestimmt</div>
                    }
                    @else {
                        <div>Nicht dokumentiert</div>
                    }
                </div>
                <div [class.success]="data().molgen.datum && data().molgen.korrekt" [class.warning]="data().molgen.datum && !data().molgen.korrekt">
                    <div class="name">MolPath Untersuchung</div>
                    @if (data().molgen.datum && data().molgen.korrekt) {
                        <div>{{ data().molgen.datum | date:'dd.MM.yyyy' }}</div>
                    } @else if (data().molgen.datum && !data().molgen.korrekt) {
                        <div>{{ data().molgen.datum | date:'dd.MM.yyyy' }}</div>
                        <div>Fehlerhaft</div>
                    }
                    @else {
                        <div>Nicht dokumentiert</div>
                    }
                </div>
                <div [class.success]="data().empfehlungsdatum">
                    @if (data().studie) {
                        <div class="name">MTB Studienempfehlung</div>
                    } @else {
                        <div class="name">MTB Empfehlung</div>
                    }
                    @if (data().empfehlungsdatum) {
                        <div>{{ data().empfehlungsdatum | date:'dd.MM.yyyy' }}</div>
                        @if (data().offlabel) {
                            <div>Offlabel</div>
                        }
                    } @else {
                        <div>Kein MTB mit Empfehlung</div>
                    }
                </div>
                <div [class.success]="data().latestDokuDatum" class="latest-doku">
                    <div class="name">Stand Dokumentation</div>
                    @if (data().latestDokuDatum) {
                        <div>{{ data().latestDokuDatum | date:'dd.MM.yyyy' }}</div>
                    } @else {
                        <div>Nicht feststellbar</div>
                    }
                </div>
                <div [class.success]="data().einschlussMvh" class="mvh-case">
                    <div class="name">MTB Empfehlung</div>
                    @if (data().einschlussMvh) {
                        <div>In MV §64e eingeschlossen</div>
                    } @else {
                        <div>Kein Einschluss MV §64e</div>
                    }
                </div>
                <div
                        [class.success]="followUpState === FollowUpState.FOLLOW_UP_OK"
                        [class.warning]="followUpState === FollowUpState.FOLLOW_UP_PENDING"
                        class="follow-up">
                    <div class="name">Follow-Ups</div>
                    @if (data().latestFollowUp) {
                        <div>Zuletzt: {{ data().latestFollowUp | date: 'dd.MM.yyyy'}}</div>
                    } @else {
                        <div>Nicht dokumentiert</div>
                    }
                </div>
            </div>
            @if (showAufgaben) {
            <div class="aufgaben">
                @for (aufgabe of data().aufgaben; track aufgabe) {
                    <div class="aufgabe">
                        <h4>🧪 Aufgabe</h4>
                        <div>Erstellt von <b>{{aufgabe.akteur}}</b> am <b>{{ aufgabe.date | date:'dd.MM.yyyy' }}</b></div>
                        @if (aufgabe.dueDate) {
                            <div class="due">Fällig am: {{ aufgabe.dueDate | date:'dd.MM.yyyy' }}</div>
                        }
                        <p>{{aufgabe.text}}</p>
                        @if (aufgabe.formGuid) {
                            <a class="button" href="/onkostar/index.html?procedureId={{ aufgabe.formGuid }}" target="_blank">
                                Zum Formular {{ aufgabe.formName }} ({{ aufgabe.formDate | date:'dd.MM.yyyy' }})
                            </a>
                        } @else {
                            <a class="button" href="/onkostar/index.html?patientId={{ data().patientGuid }}" target="_blank">
                                Zum Patienten
                            </a>
                        }
                    </div>
                }
            </div>
            }
        }
    } @else {
        <div class="header header-loading">
            <div>PID: <b>{{ pid }}</b></div>
            <div class="patient-link">
                <a class="button" href="/onkostar/index.html?patientId={{ patientGuid }}&procedureId={{ procedureGuid }}" target="_blank">Zum Patienten in Onkostar</a>
            </div>
        </div>
        <div class="loading">
            <div class="spinner"></div>
            <div>Lade Daten ...</div>
        </div>
    }
</div>
