@import "tailwindcss";

.dashboard-entry {
    @apply p-1 my-4 bg-gray-100 rounded grid grid-cols-7 gap-1 drop-shadow-gray-400 drop-shadow-sm;
    min-height: 8rem;
}

.dashboard-entry a.button {
    @apply bg-slate-700 text-white px-2 my-1 rounded block w-full;
}

.dashboard-entry a.button:hover {
    @apply bg-slate-800;
}

.dashboard-entry > div {
    @apply p-2 rounded text-white bg-red-600 text-center;
}

.dashboard-entry .latest-doku,
.dashboard-entry .case-id {
    background-color: var(--color-primary);
}

.dashboard-entry .mvh-case {
    @apply bg-gray-600;
}

.dashboard-entry .success {
    @apply bg-green-800;
}

.dashboard-entry .loading {
    @apply bg-transparent text-gray-800;
}

.dashboard-entry .loading .spinner {
    @apply w-8 h-8 border-4 border-gray-600 border-solid border-t-transparent rounded-full text-center mx-auto my-2;
    animation: spin .5s linear infinite;
}

.dashboard-entry .name {
    @apply font-bold mb-3;
}
