<div class="dashboard-entry">
    @if (data().pid) {
        <div class="case-id">
            <div>PID: <b>{{ data().pid }}</b></div>
            <div><b>{{ data().icd }}</b></div>
            <div>
                <a class="button" href="/onkostar/index.html?patientId={{data().patientGuid}}&procedureId={{ data().procedureGuid }}" target="_blank">Zum Patienten in Onkostar</a>
            </div>
        </div>
        <div [class.success]="data().anmeldedatum">
            <div class="name">Anmeldedatum MTB</div>
            @if (data().anmeldedatum) {
                <div>{{ data().anmeldedatum | date:'dd.MM.yyyy' }}</div>
            } @else {
                <div>Nicht vorhanden</div>
            }

            @if (data().internextern === 'E') {
                <div>Extern zugewiesen</div>
            } @else if (data().internextern === 'I') {
                <div>Intern zugewiesen</div>
            }
        </div>
        <div [class.success]="data().consent.datum && data().consent.zustimmung" [class.warning]="data().consent.datum && !data().consent.zustimmung">
            <div class="name">MolPath-Consent</div>
            @if (data().consent.datum && data().consent.zustimmung) {
                <div>{{ data().consent.datum | date:'dd.MM.yyyy' }}</div>
            }
            @else if (data().consent.datum && !data().consent.zustimmung) {
                <div>{{ data().consent.datum | date:'dd.MM.yyyy' }}</div>
                <div>Nicht zugestimmt</div>
            }
            @else {
                <div>Nicht vorhanden</div>
            }
        </div>
        <div [class.success]="data().molgen.datum && data().molgen.korrekt" [class.warning]="data().molgen.datum && !data().molgen.korrekt">
            <div class="name">Molgen Untersuchung</div>
            @if (data().molgen.datum && data().molgen.korrekt) {
                <div>{{ data().molgen.datum | date:'dd.MM.yyyy' }}</div>
            } @else if (data().molgen.datum && !data().molgen.korrekt) {
                <div>{{ data().molgen.datum | date:'dd.MM.yyyy' }}</div>
                <div>Fehlerhaft</div>
            }
            @else {
                <div>Nicht vorhanden</div>
            }
        </div>
        <div [class.success]="data().empfehlungsdatum">
            @if (data().studie) {
                <div class="name">MTB Studienempfehlung</div>
            } @else {
                <div class="name">MTB Empfehlung</div>
            }
            @if (data().empfehlungsdatum) {
                <div>{{ data().empfehlungsdatum | date:'dd.MM.yyyy' }}</div>
                @if (data().offlabel) {
                    <div>Offlabel</div>
                }
            } @else {
                <div>Kein MTB mit Empfehlung</div>
            }
        </div>
        <div [class.success]="data().latestDokuDatum" class="latest-doku">
            <div class="name">Stand Dokumentation</div>
            @if (data().latestDokuDatum) {
                <div>{{ data().latestDokuDatum | date:'dd.MM.yyyy' }}</div>
            } @else {
                <div>Keine Angabe</div>
            }
        </div>
        <div [class.success]="data().einschlussMvh" class="mvh-case">
            <div class="name">MTB Empfehlung</div>
            @if (data().einschlussMvh) {
                <div>In MV §64e eingeschlossen</div>
            } @else {
                <div>Kein Einschluss MV §64e</div>
            }
        </div>
    } @else {
        <div class="loading">
            <div class="spinner"></div>
            <div>Lade Daten ...</div>
        </div>
    }
</div>
