@import "tailwindcss";

.dashboard-entry {
    @apply p-1 my-4 bg-gray-100 rounded grid grid-rows-1 gap-1 drop-shadow-gray-400 drop-shadow-sm;
    min-height: 8rem;
}

.dashboard-entry .details {
    @apply grid grid-cols-6 gap-1;
}

.dashboard-entry .header {
    @apply p-2 rounded bg-slate-300 border border-slate-400 text-slate-900;
}

.dashboard-entry .header:has(.check-required) {
    @apply border-orange-400;
    background: repeating-linear-gradient(45deg, var(--color-orange-200) 0, var(--color-orange-200) 4px, var(--color-orange-100) 4px, var(--color-orange-100) 8px);
}

.dashboard-entry:has(.loading) .header {
    background: repeating-linear-gradient(45deg, var(--color-slate-200) 0, var(--color-slate-200) 4px, var(--color-slate-100) 4px, var(--color-slate-100) 8px);
}

.dashboard-entry .header > * {
    @apply inline mx-2;
}

.dashboard-entry .header > *:after {
    content: '';
    @apply px-2 border-r border-b-slate-800;
}

.dashboard-entry .header > *:last-child:after {
    @apply px-0 border-none;
}

.dashboard-entry .details > div {
    @apply p-2 rounded text-white bg-red-600 text-center;
}

.dashboard-entry a.button {
    @apply bg-slate-700 text-white px-2 py-1 my-1 rounded;
}

.dashboard-entry a.button:hover {
    @apply bg-slate-800;
}

.dashboard-entry .latest-doku {
    background-color: var(--color-primary);
}

.dashboard-entry .details > .mvh-case {
    @apply bg-gray-600;
}

.dashboard-entry .details > .success {
    @apply bg-green-800;
}

.dashboard-entry .details > .warning {
    @apply bg-yellow-600;
}

.dashboard-entry .name {
    @apply font-bold mb-3;
}

.dashboard-entry .check-nopf,
.dashboard-entry .check-required {
    @apply text-red-800 uppercase;
}

.dashboard-entry .aufgaben {
    @apply ml-8
}

.dashboard-entry a.aufgabe-button {
    @apply cursor-pointer;
    background-color: var(--color-primary);
}

.dashboard-entry .aufgabe {
    @apply p-2 m-0.5 rounded text-slate-900 bg-white border px-2 border-slate-400
}

.dashboard-entry .aufgabe > h4 {
    @apply font-bold text-lg;
    color: var(--color-primary);
}

.dashboard-entry .due {
    @apply text-red-900 font-bold
}

.dashboard-entry p {
    @apply font-mono my-4 py-4 border-y border-slate-400 border-dashed
}

