<main class="main-content">
    <h2>MV-Fälle der letzten drei Jahre</h2>
    <div class="statistics">
        <ul class="cols-3 pf">
            @for (cases of statistics().cases; track cases) {
                <li (click)="onYearChange(cases.year.toString())" [class.currentyear]="cases.year.toString() == year()">
                    <span class="name">MV-Patienten <b>{{cases.year}}</b></span>
                    <span class="value">{{cases.count}}</span>
                </li>
            }
        </ul>
        @if (statistics().cases.length == 0) {
            <div class="loading">
                <div class="spinner"></div>
                <div>Lade Daten ...</div>
            </div>
        }
    </div>
    <h2>
        <span>Statistiken</span>
        &nbsp;
        <select (change)="onYearChangeEvent($event)">
            @for (y of years(); track y) {
                <option value="{{y}}" [selected]="y == year()">{{y}}</option>
            }
        </select>
    </h2>
    <div class="statistics">
        <ul class="cols-4">
            <li [class.zerovalue]="statistics().anmeldungen === 0">
                <span class="name">MTB-Anmeldungen</span>
                <span class="value">{{statistics().anmeldungen}}</span>
            </li>
            <li [class.zerovalue]="statistics().empfehlungen === 0">
                <span class="name">MTB-Empfehlungen</span>
                <span class="value">{{statistics().empfehlungen}}</span>
            </li>
            <li [class.zerovalue]="statistics().consents === 0">
                <span class="name">MolPath-Consents</span>
                <span class="value">{{statistics().consents}}</span>
            </li>
            <li class="empty"></li>
        </ul>
        <br/>
        <ul class="cols-4">
            <li class="empty"></li>
            <li class="warnings" [class.zerovalue]="warningCount === 0">
                <span class="name">Doku prüfen!
                    @if (warningCount > 0) {
                        &nbsp;-&nbsp;
                        <label class="filter" title="Danach filtern"><input (change)="switchNonWarnings()" class="filter" type="checkbox" [checked]="hideNoneWarnings" />&nbsp;Danach filtern</label>
                    }
                </span>
                <span class="value">{{warningCount}}</span>
            </li>
            <li class="warnings" [class.zerovalue]="taskCount === 0">
                <span class="name">Mit offenen Aufgaben
                    @if (taskCount > 0) {
                        &nbsp;-&nbsp;
                        <label class="filter" title="Danach filtern"><input (change)="switchNonTasks()" class="filter" type="checkbox" [checked]="hideNoneTasks" />&nbsp;Danach filtern</label>
                    }
                </span>
                <span class="value">{{taskCount}}</span>
            </li>
            <li class="warnings" [class.zerovalue]="dueFollowUpCount === 0">
                <span class="name">Ausstehende FollowUps
                    @if (dueFollowUpCount > 0) {
                        &nbsp;-&nbsp;
                        <label class="filter" title="Danach filtern"><input (change)="switchDueFollowUps()" class="filter" type="checkbox" [checked]="hideNoneDueFollowUps" />&nbsp;Danach filtern</label>
                    }
                </span>
                <span class="value">{{dueFollowUpCount}}</span>
            </li>
        </ul>
    </div>
    <h2>
        @if (hideNoneWarnings) {
            MV-Fälle mit zu prüfender Dokumentation
        } @else if (hideNonePFWarnings) {
            Mögliche nicht zählbare Primärfälle
        } @else {
            MV-Fälle
        }
        &nbsp;
        <select (change)="onYearChangeEvent($event)">
            @for (y of years(); track y) {
                <option value="{{y}}" [selected]="y == year()">{{y}}</option>
            }
        </select>
        <a class="xls button" href="./cases.xlsx?year={{year()}}">📊 Alles als Excel-Datei herunterladen</a>
        @if (exportMarkedCases.length > 0) {
            <a class="xls selected button" href="./cases.xlsx?year={{year()}}&context=mv&pid={{ exportMarkedCases.join(',') }}">📊 Auswahl als Excel-Datei herunterladen</a>
        }
    </h2>
    <div>
        @if (cases().length === 0) {
            <p>Keine MV-Fälle gefunden.</p>
        } @else {
            <ul>
                @for (caseId of cases(); track caseId) {
                    <li>
                        <app-dashboard-entry
                                (warningsChange)="updateWarningCount()"
                                (invalidPrimaerfallChange)="updateInvalidPrimaerfallCount()"
                                (internexternChange)="updateInternexternCount($event)"
                                (offlabelCountChange)="updateOfflabelCount()"
                                (studyCountChange)="updateStudyCount()"
                                (taskCountChange)="updateTaskCount()"
                                (entitaetChange)="updateEntitaetCounts($event)"
                                (dueFollowUpChanged)="updateDueFollowUp()"
                                (exportMarkChanged)="onExportMarkChanged($event)"
                                [pid]="caseId.pid"
                                [patientGuid]="caseId.patientGuid"
                                [procedureGuid]="caseId.procedureGuid"
                                [year]="year()"
                                [context]="Context.Modellvorhaben"
                                [duplicate]="caseId.duplicate">
                            <div class="dashboard-entry">Lade Daten ...</div>
                        </app-dashboard-entry>
                    </li>
                }
            </ul>
        }
    </div>
</main>
